head
  meta(charset="utf8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  <title>Manila 7th Ward Temple & Family History Gifts</title>
  link(rel="image/png" href="favicon.png" media="screen" title="no title")
  link(href="/quill/dist/quill.snow.css" rel="stylesheet")
  link(rel="icon", type="image/png" href="/img/favicon.png")
  != LRScript
  style(type="text/css").
    html {
      height: 100%;
      padding; 0;
      margin: 0;
    }
    body {
      height: 100%;
      padding; 0;
      margin: 0;
      display: flex;
      flex-direction: column-reverse;
    }
    app-router {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  script.
    window.SERVER_ENV = !{JSON.stringify(env)};
    
  
