script(src="/incremental-dom/dist/incremental-dom-min.js")
script(src="/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js")
script(src="/@webcomponents/webcomponentsjs/webcomponents-loader.js")
script(src="/hellojs/dist/hello.all.min.js")
script(src="/socketcluster-client/socketcluster.min.js")
script(src="/lokijs/src/lokijs.js")
script(src="/lokijs/build/loki-indexed-adapter.min.js")
script(src="/grapnel/dist/grapnel.min.js")
script(src="/quill/dist/quill.min.js")
script(src="/bundle.js")
