doctype html
html
  include partials/head.pug
  link(href="/css/error.css" rel="stylesheet")
  body
    #error-wrapper
      div 404
      h1 Page Not Found!
      a(href="/index.html").m7-button.m7-button--hero Home
