@import '../css/variables.less';
@import '../css/wc/base.less';
@import '../css/wc/typography.less';
@import '../css/wc/r-grid.less';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2vh 2vw;
  container {
    display: block;
    overflow-y: auto;
    flex: 1;
  }
  h1 {
    font-size: 1.75em;
    font-weight: 400;
    margin-bottom: 1vh;
  }
  p {
    margn-top: 0.5em;
    line-height: 1.4;
  }
}

general {
  display: flex;
  flex-direction: column;
  background-color: @site-background;
  background-image: url('/img/mt-timp-temple.jpg');
  background-size: cover;
  general-overlay {
    margin: 6vh 6vw;
    background-color: rgba(255, 255, 255, .7);
    color: #333;
    padding: 1vh 1vw;
  }
}

working-on-skills, technical-issues {
  display: block;
  background-color: @site-background;
  padding: 2vh 2vw;
  margin-top: 1vh;
  flex: 1;
  h2 {
    font-size: 1.5em !important;
    font-weight: 300;
    margin: 0;
    padding: .5vw;
    background-color: @orange;
    color: white;
    margin-bottom: 1vh;
  }
  #skill-buttons {
    margin: 1vh 1vw;
    border: 1px solid #ccc;
  }
  .action-button {
    height: 24px;
    width: 24px;
    position: relative;
    top: 6px;
  }
  #my-skills {
    max-width: 90%;
  }
}
